<ContentView height="100%" width="100%">
    <Mapbox
        [accessToken]="accessToken"
        [mapStyle]="mapStyle"
        [latitude]="latitude"
        [longitude]="longitude"
        [hideCompass]="hideCompass"
        [zoomLevel]="zoomLevel"
        [showUserLocation]="showUserLocation"
        [disableZoom]="disableZoom"
        [disableRotation]="disableRotation"
        [disableScroll]="disableScroll"
        [disableTilt]="disableTilt"
        (mapReady)="onMapReady($event)">
    </Mapbox>
  </ContentView>