<ActionBar class="action-bar">
    <!--HACK - we should remove the navigation button-->
    <NavigationButton visibility="collapsed"></NavigationButton>
    <ActionItem ios.position="left" android.position="left" (tap)="onCancelButtonTap()">
        <Label text="Cancel" class="action-item"></Label>
    </ActionItem>
    <Label class="action-bar-title" text="Notification Details" horizontalAlignment="center"></Label>
    <ActionItem ios.position="right" android.position="right">
        <Label text="Done" class="action-item" verticalAlignment="center" (tap)="onDoneButtonTap()" 
            [isEnabled]="makeModel.valid && imageModel.valid"
            [isUserInteractionEnabled]="makeModel.valid && imageModel.valid"></Label>
    </ActionItem>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout class="notification-list">

            <Label text="notification MAKE" class="notification-list-odd"></Label>
            <TextField #makeModel="ngModel" hint="notification make field is required" [(ngModel)]="notification.type" class="notification-list-even" required></TextField>
            
            <GridLayout rows="*, 55, *" columns="*, auto" class="notification-list-odd">
                <Label text="ADD OR REMOVE IMAGE" row="1" colSpan="2"></Label>
            </GridLayout>

            <StackLayout class="notification-list-odd">
                <!--
                MyImageAddRemove is a custom component, that wraps an imagepicker plugin and provides custom design and logic
                on top of it. Check out the custom component at /notifications/notification-detail-edit/my-image-add-remove.
                -->
                <MyImageAddRemove #imageModel="ngModel" [(ngModel)]="notificationImageUrl" required></MyImageAddRemove>
                <Label *ngIf="!imageModel.valid" class="ng-invalid-image" text="Image field is required"></Label>
            </StackLayout>
            
            <Label class="car-list-even" text="Comments"></Label>
            <StackLayout class="notification-list-even">
                <TextView [(selectedValue)]="comments" class="input input-border"></TextView>
            </StackLayout>

        </StackLayout>

    </ScrollView>

    <ActivityIndicator [busy]="isUpdating"></ActivityIndicator>
</GridLayout>